#main {
  margin-left: 0px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

strong {
	/*color: black;*/
}

body {
	background-color: #F0EFEA;
	color: black;
	font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
	font-size: 13pt;
	font-weight: 400;
	line-height: 1.65;
}

h1 {
	margin-bottom: 0;
	color: #0B3861;
}

h2 {
	color: #537791;
	font-size: 24pt;
}

h3 {
	color: #537791;
}

.text_presentation {
	overflow: hidden; /* empêche le dépassement des flottants */
	margin-top: 10px;
	border-bottom: solid 5px #537791;
}

.pic {
	float: left;
  margin: 5px 20px 5px 0;
	border: 2px solid black;
	height: 420px;
	width: auto;
}

.paraIm {
	overflow: hidden; /* Contexte de formatage. Force le paragraphe à
    adapter sa largeur aux flottants adjacents. */
	text-align: justify;
	margin-right: 15px;
}

.res {
	border-bottom: solid 5px #537791;
}

.ref {
	margin-bottom: 50px;
}

#sidebarButton_open {
	background-color: #F0EFEA; /* Green */
    border: none;
    color: #537791;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    position: absolute;
}

#sidebarButton_open span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#sidebarButton_open span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#sidebarButton_open:hover span {
  padding-right: 25px;
}

#sidebarButton_open:hover span:after {
  opacity: 1;
  right: 0;
}

#sidebarButton_close {
	background-color: #2E2E2E; /* Green */
    border: none;
    color: #C1C0B9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

#sidebarButton_close span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#sidebarButton_close span:after {
  content: '«';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#sidebarButton_close:hover span {
  padding-right: 25px;
}

#sidebarButton_close:hover span:after {
  opacity: 1;
  right: 0;
}

#header {
	border-bottom: solid 5px #537791;
	text-align: center;
}

#header a:hover {
	color: black;
}

#sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color : #2E2E2E;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

/* When you mouse over the navigation links, change their color */
#sidebar a:hover {
  color: white;
}

#menu {
	/*color: #F7F6E7*/
	color: #537791;
}

#menu ul a, #menu ul span {
  border-bottom: 0;
  color: #C1C0B9;
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  padding: 0.625em 0;
}

#menu > ul > li > ul a, #menu > ul > li > ul span {
  font-size: 0.8em;
  color: #C1C0B9;
}

#menu span.opener {
	transition: color 0.2s ease-in-out;
	text-decoration: none;
	position: relative;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
