div {
 font-family: Arial, Helvetica, sans-serif;
 margin: 0;
}

canvas {
	position: absolute;
	margin: 0;
}

ul.menu {
 font-size: 1.1em;
 text-align: center;
 list-style-type: none;
 padding: 0;
 margin: 0;
 overflow: hidden;
 background-color: #333;
}

li {
 display: inline;
 text-align: center;
 margin: 0;
}

li a {
 display: inline-block;
 color: white;
 text-align: center;
 padding: 10px 15px;
 text-decoration: none;
 outline: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
 background-color: #111;
}

ul.idC {
  background-color: white;
	color: black;
}

button.bouton {
  width: 500px;
}

#file_input {
  padding-bottom: 0px;
}

/* ligne horizontale en pointillé*/
hr {
  color: #D0D0D0;
  border-style: dashed;
}

p.calque {
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
  background-color: #333;
	color:white;
}

body {
	padding: 0;
	margin: 0;
}

div.global{
	padding: 0;
  margin: 0;
}

div.container_1_3{
  text-align: center;
  margin: 0;
  float: left;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
	background-color: #F9F9FF;
}

div.container_2_3{
	border: 2px solid black;
  height: auto;
  width: 800px;
  height: 800px;
  margin: 0;
  float: left;
}

.boutonCharger {
    padding-top: 5px;
}

div.setionBouton {
  padding-bottom: 5px;
  padding-top: 0;
  margin: 0;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

div.clean {
  padding-bottom: 5px;
  padding-top: 5px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

div.calques {
  padding-bottom: 5px;
  /*padding-top: 10px;*/
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  flex: 1;
}

div.divPoids {
  padding-bottom: 2px;
  /*padding-top: 10px;*/
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  flex: 1;
}

form.radioHandle {
  padding-top: 0;
  text-align: left;
  margin-left: 200px;
}

div.paramBspline {
  padding-bottom: 5px;
  padding-top: 5px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

div.modif {
  padding-bottom: 5px;
  padding-top: 5px;
  border-right: 2px solid black;
}

div.lecture {
  padding-bottom: 5px;
  padding-top: 5px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.entete {
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #e9ebed;
	margin-top: 0;
	margin-bottom: 5px;
}

.sliderInput {
	margin-top: 0px;
	margin-bottom: 0px;
}

#fpsCounter {
	margin-top: 0px;
	margin-bottom: 0px;
    display: inline-block;
}

.slider {
	outline: none;
}
input[type=range]::-moz-focus-outer {
	border: 0;
}

.enteteAstuce {
	font-weight: bold;
	text-decoration: underline;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
  display: inline-block;
	text-align: left;
}

.astuce {
	width: 510px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
  display: inline-block;
	text-align: left;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #5E6568;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.4s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #5E6568 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
